.add-card {
  display: flex;
  justify-content: end;
}

.add-card__button {
  margin-right: 20px;
  margin-top: 40px;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid gray;
  text-transform: uppercase;

  background-color: #d3d3d3;
}
