.popup {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  min-width: 430px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.popup__form {
  width: 400px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup__input {
  min-height: 200px;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: left;
  vertical-align: top;
}

.popup__input::placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
}

.popup__input_type_title {
  min-height: 50px;
}

.popup__button-save {
  height: 30px;
  width: 400px;
  margin: 0 0 20px;
  border-radius: 20px;
  border: 1px solid gray;
  text-transform: uppercase;
  background-color: #d3d3d3;
}

.popup__button-save:hover {
  cursor: pointer;
}

.popup__button-delete {
  width: 30px;
  height: 30px;
  background-image: url('../../images/png-clipart-computer-icons-window-button-encapsulated-postscript-delete-button-angle-furniture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup__title {
  margin: 10px 0 0 0;
}
