.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 10px;
}

.filter__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter__input {
  width: 500px;
}

.filter__select {
  width: 500px;
}

.sort__name {
  margin: 0;
}
